<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details Error:
  </title>
</head>
<body>
  <h3>
    Password Error: Check weather Password and Confirm Password are same.
    <br>
    Email Error: May be Email exists.
    <br>
    Username Error: May be username exists.
    <br>
    SECRET_KEY Error: If you are a admin then your SECRET_KEY may not be correct.
  </h3>
  <br>
  <a href="/">Go To Home</a>
</body>
</html>