<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Sponsor Dashboard</title>
</head>
<body>
  <center><h1>Sponsor Dashboard</h1></center>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('sdash',id=id) }}"><button class="btn btn-danger" type="button">{{query1.username}}</button></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{{ url_for('mycampaigns',id=id) }}"><button class="btn btn-primary" type="button">All Campaigns</button></a>
          <a class="nav-item nav-link" href="{{ url_for('showinfluencer',id=id) }}"><button class="btn btn-primary" type="button">Influencer</button></a>
          <a class="nav-item nav-link" href="{{ url_for('showinfluencerrequest',id=id) }}"><button class="btn btn-primary" type="button">Request Sent</button></a>
          <a class="nav-item nav-link" href="{{ url_for('showinfluencerrecived',id=id) }}"><button class="btn btn-primary" type="button">Request Recived</button></a>
          <a class="nav-item nav-link" href="{{ url_for('showinfluencerresponse',id=id) }}"><button class="btn btn-success" type="button">Responses</button></a>
          <a class="nav-item nav-link" href="{{ url_for('searchinfluencer',id=id) }}"><button class="btn btn-success" type="button">Search</button></a>
          <a class="nav-item nav-link" href="{{ url_for('logout',id=id) }}"><button class="btn btn-success" type="button">Logout</button></a>
        </div>
      </div>
    </nav>
      <h1>All Influencer</h1>
      {% for q in query %}
      <div class="container">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Name: {{q.username}}  </h5>
            <a name="" id="" class="btn btn-secondary" href="{{ url_for('completeddetails',id=id,nameo=q.username) }}" role="button">Complete Details</a>
            <h6 class="card-title">Email: {{q.email}}
            <br>
            Category: {{q.category}}
            <br>
            Niche: {{q.niche}}
            <br>
            <br>
            <a name="" id="" class="btn btn-primary" href="{{ url_for('sendinfluencerrequest',iid=q.I_id, sid=id) }}" role="button">Send Request</a>
          </div>
        </div>
      </div>
      {% endfor %}
</body>
</html>